<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.CommentMapper">

    <insert id="insert">
        insert into comment (id, parent_id, type, commentator, gmt_create, gmt_modified, content,
                             comment_count)
        values (#{id}, #{parentId}, #{type}, #{commentator}, #{gmtCreate}, #{gmtModified}, #{content},
                #{commentCount})
    </insert>

    <select id="getById" resultType="com.airconditioner.community.entity.Comment">
        select *
        from comment
        where id = #{id}
    </select>

    <select id="listById" resultType="com.airconditioner.community.entity.Comment">
        select *
        from comment
        where parent_id = #{id}
          and type = #{type}
        order by gmt_create desc
    </select>

    <update id="incCommentCount">
        update comment
        set comment_count = comment_count + 1
        where id = #{id}
    </update>
</mapper>
