<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.NotificationMapper">
    <insert id="insert">


        insert into notification (id, notifier, receiver, outer_id, type, gmt_create, is_read, notifier_name, outer_title)
        values (#{id}, #{notifier}, #{receiver}, #{outerId}, #{type}, #{gmtCreate}, #{isRead}, #{notifierName},
                #{outerTitle})
    </insert>

    <select id="countByUserId" resultType="Integer">
        select count(*)
        from notification
        where receiver = #{userId}
    </select>

    <select id="countUnreadByUserId" resultType="Integer">
        select count(*)
        from notification
        where receiver = #{userId}
          and is_read = #{isRead}
    </select>

    <select id="getByUserId" resultType="com.airconditioner.community.entity.Notification">
        select *
        from notification
        where receiver = #{userId}
        order by gmt_create desc
            limit #{offset}
               , #{size}

    </select>

    <select id="getById" resultType="com.airconditioner.community.entity.Notification">
        select *
        from notification
        where id = #{id}
    </select>

    <update id="updateIsReadById">
        update notification
        set is_read = #{isRead}
        where id = #{id}
    </update>
</mapper>
