<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.QuestionMapper">

    <insert id="insertQuestion">
        insert into question
            (title, description, gmt_create, gmt_modified, creator, tag)
        values (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <update id="updateQuestion">
        update question
        set title       = #{title},
            description = #{description},
            tag         = #{tag},
            gmt_modified = #{gmtModified}
        where id = #{id}
    </update>

    <select id="selectQuestionLimited" resultType="com.airconditioner.community.bean.Question">
        select *
        from question limit #{offset}, #{size}
    </select>

    <select id="selectQuestionByUserId" resultType="com.airconditioner.community.bean.Question">
        select *
        from question
        where creator = #{userId} limit #{offset}
            , #{size}
    </select>

    <select id="selectQuestionById" resultType="com.airconditioner.community.bean.Question">
        select *
        from question
        where id = #{id}
    </select>

    <select id="countQuestion" resultType="Integer">
        select count(*)
        from question
    </select>

    <select id="countQuestionByUserId" resultType="Integer">
        select count(*)
        from question
        where creator = #{userId}
    </select>
</mapper>
