<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.QuestionMapper">

    <insert id="insert">
        insert into question
            (title, description, gmt_create, gmt_modified, creator, tag)
        values (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <update id="updateQuestion">
        update question
        set title        = #{title},
            description  = #{description},
            tag          = #{tag},
            gmt_modified = #{gmtModified}
        where id = #{id}
    </update>

    <update id="incViewCount">
        update question
        set view_count = view_count + 1
        where id = #{id}
    </update>

    <update id="incCommentCount">
        update question
        set comment_count = comment_count + 1
        where id = #{id}
    </update>

    <select id="listBySearch" resultType="com.airconditioner.community.entity.Question">
        select *
        from question
        <where>
            <if test="search != null and search != ''">
               and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc
            limit #{offset}, #{size}

    </select>

    <select id="getByUserId" resultType="com.airconditioner.community.entity.Question">
        select *
        from question
        where creator = #{userId}
        order by gmt_create desc
            limit #{offset}
               , #{size}
    </select>

    <select id="getById" resultType="com.airconditioner.community.entity.Question">
        select *
        from question
        where id = #{id}
    </select>

    <select id="countByUserId" resultType="Integer">
        select count(*)
        from question
        where creator = #{userId}
    </select>

    <select id="countBySearch" resultType="Integer">
        select count(*)
        from question
        <where>
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
        </where>
    </select>

    <select id="listRelated" resultType="com.airconditioner.community.entity.Question">
        select *
        from question
        where id != #{id}
          and tag regexp #{tag}
    </select>
</mapper>
