<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.QuestionMapper">

    <insert id="publishQuestion">
        insert into question
            (title, description, gmt_create, gmt_modified, creator, tag)
        values
            (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <select id="getQuestionList" resultType="com.airconditioner.community.bean.Question">
        select * from question
    </select>


</mapper>
