<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airconditioner.community.mapper.UserMapper">

    <insert id="insert" parameterType="com.airconditioner.community.entity.User">
        insert into user
            (name, account_id, token, gmt_create, gmt_modified, avatar_url)
        values (#{name}, #{accountId}, #{token}, #{gmtCreate}, #{gmtModified}, #{avatarUrl})
    </insert>

    <select id="getByToken" resultType="com.airconditioner.community.entity.User">
        select *
        from user
        where token = #{token}
    </select>

    <select id="getById" resultType="com.airconditioner.community.entity.User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getByAccountId" resultType="com.airconditioner.community.entity.User">
        select *
        from user
        where account_id = #{accountId}
    </select>

    <update id="update">
        update user
        set token        = #{token},
            gmt_modified = #{gmtModified},
            name         = #{name},
            avatar_url   = #{avatarUrl}
        where account_id = #{accountId}
    </update>


</mapper>
