<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <div th:include="common :: common-header"></div>
</head>
<body>
<nav th:replace="common :: common-navbar"></nav>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- Left start -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <h2>[[${secitonName}]] Questions</h2>
                <hr>

                <!-- Media object -->
                <div class="d-flex" th:each="questionDTO : ${paginationDTO.questionDTOList}">
                    <!-- Image -->
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                         alt="John Doe"
                         class="me-3 rounded-circle avatar"/>
                    <!-- Body -->
                    <div>
                        <h7 class="fw-bold">
                            John Doe
                            <small class="text-muted" th:text="${questionDTO.title}"></small>
                        </h7>
                        <p class="text-desc"
                           th:text="${questionDTO.description} + ' - ' + ${questionDTO.commentCount} + ' 个回复 - ' + ${questionDTO.viewCount} + ' 次浏览 - ' + ${questionDTO.followCount} + ' 个粉丝 - ' + ${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></p>
                    </div>
                </div>
                <!-- Media object -->

                <!-- Pagination start -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:if="${paginationDTO.showFirstPage}">
                            <a class="page-link"
                               th:href="@{'/profile/'+${section}(page=${1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${paginationDTO.showPrevious}">
                            <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>


                        <li th:each="page : ${paginationDTO.pages}" class="page-item"
                            th:class="${paginationDTO.page == page ? 'active': ''}">
                            <a class="page-link"
                               th:href="@{'/profile/'+${section}(page=${page})}"
                               th:text="${page}"
                            >
                            </a>
                        </li>

                        <li class="page-item" th:if="${paginationDTO.showNext}">
                            <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.page + 1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${paginationDTO.showEndPage}">
                            <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.totalPage})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Pagination end -->

            </div>
            <!-- Left end -->

            <!-- right start -->
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 section">
                <div class="list-group">
                    <a th:href="@{/profile/questions}"
                       th:class="${section == 'questions'}? 'active list-group-item list-group-item-action': 'list-group-item list-group-item-action'">我的问题</a>
                    <a th:href="@{/profile/replies}"
                       th:class="${section == 'replies'}? 'active list-group-item list-group-item-action': 'list-group-item list-group-item-action'">
                        最新回复
                        <span class="badge bg-danger badges">4</span>
                    </a>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>
</div>

</body>
</html>
