<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish</title>
    <div th:include="common :: common-header"></div>
    <link rel="stylesheet" th:href="@{/css/publish.css}">
    <script th:src=@{/js/publish.js} type="text/javascript"></script>

    <!-- Markdown editor -->
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}">
    <script th:src=@{/js/editormd.min.js} type="text/javascript"></script>
</head>
<body>
<nav th:replace="common :: common-navbar"></nav>
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- Left start -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <h2><i class="fa-regular fa-square-plus"></i> 发起</h2>
                <hr>

                <form th:action="${id == null ? '/publish': '/publish/' + id}" method="post">
                    <!--<input type="hidden" name="id" th:value="${id}">-->
                    <input type="hidden" name="_method" value="put" th:if="${id != null}">
                    <div class="mb-3">
                        <label for="title" class="form-label">问题标题（简单扼要）</label>
                        <input type="text" class="form-control"
                               id="title"
                               name="title"
                               th:value="${title}"
                               placeholder="问题标题……"
                               autocomplete="off">
                    </div>
                    <div class="mb-3" id="question-editor">
                        <label for="description" class="form-label">问题补充（必填，请参照右侧提示）</label>
                        <textarea name="description"
                                  id="description"
                                  th:text="${description}"
                                  class="form-control"
                                  cols="30" rows="10"
                                  autocomplete="off"
                        style="display: none"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="tag" class="form-label">添加标签：</label>
                        <input type="text"
                               class="form-control"
                               id="tag" name="tag"
                               th:value="${tag}"
                               autocomplete="off"
                               placeholder="输入标签，以，分隔"
                               onclick="showTagSelector()">


                        <!-- Tag Selector -->
                        <div id="tag_selector" class="tag_selector">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"
                                    role="presentation"
                                    th:each="tagDTO, tagDTOStatus : ${tagDTOs}"
                                >
                                    <button class="nav-link"
                                            th:id="${tagDTO.categoryName + '_tab'}"
                                            data-bs-toggle="tab"
                                            th:data-bs-target="${'#' + tagDTO.categoryName}"
                                            type="button"
                                            role="tab"
                                            th:aria-controls="${tagDTO.categoryName}"
                                            aria-selected="true"
                                            th:text="${tagDTO.categoryName}"
                                            th:class="${tagDTOStatus.first ? 'nav-link active': 'nav-link'}">
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div th:id="${tagDTO.categoryName}"
                                     role="tabpanel"
                                     th:aria-labelledby="${tagDTO.categoryName + '_tab'}"
                                     th:each="tagDTO, tagDTOStatus : ${tagDTOs}"
                                     th:class="${tagDTOStatus.first ? 'tab-pane active': 'tab-pane'}">
                                    <div class="badge bg-info text-dark tag"
                                         onclick="selectTag(this)"
                                         th:each="tag : ${tagDTO.tags}"
                                         th:data-tag="${tag}">
                                        <i class="fa-solid fa-tag"></i> [[${tag}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Error & Publish Button -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-10 col-md-12 col-sm-12 col-12">
                                <div class="alert alert-danger col-lg-11 col-md-12 col-sm-12 col-12"
                                     th:text="${error}"
                                     th:if="${error != null}"></div>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12 col-12 text-end">
                                <button type="submit" class="btn btn-success btn-primary">
                                    发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- Left end -->

            <!-- right start -->
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <h3>问题发起指南</h3>
                - 问题标题：请用精简的语言描述您发布的问题，不超过25字 <br>
                - 问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料；<br>
                - 选择标签：选择一个或者多个合适的标签，再用逗号隔开，每个标签不超过10个字 <br>
            </div>
            <!-- right end -->
        </div>
    </div>
</div>

</body>
</html>
