<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <div th:include="common :: common-header"></div>
</head>
<body>
<nav th:replace="common :: common-navbar"></nav>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- Left start -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <h2>[[${questionDTO.title}]]</h2>
                <div>
                    <p class="text-desc"
                       th:text="'作者：' + ${questionDTO.user.name} + ' | 发布时间：' + ${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')} + ' | 阅读数：' + ${questionDTO.viewCount}"></p>
                </div>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" th:text="${questionDTO.description}"></div>
                <hr>
                <a th:href="@{'/publish/' + ${questionDTO.id}}"
                   th:if="${session.user != null && session.user.id == questionDTO.creator}">
                    <i class="fa-solid fa-pencil"></i>
                    编辑
                </a>
            </div>
            <!-- Left end -->

            <!-- right start -->
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h4>发起人</h4>
                    <!-- Media object -->
                    <div class="d-flex">
                        <!-- Image -->
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                             alt="John Doe"
                             class="me-3 rounded-circle avatar"/>
                        <!-- Body -->
                        <div>
                            <h7 class="fw-bold">
                                John Doe
                            </h7>
                            <p class="text-desc"
                               th:text="${questionDTO.description} + ' - ' + ${questionDTO.commentCount} + ' 个回复 - ' + ${questionDTO.viewCount} + ' 次浏览 - ' + ${questionDTO.followCount} + ' 个粉丝 - ' + ${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></p>
                        </div>
                    </div>
                    <!-- Media object -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12"><h4>相关问题</h4></div>
            </div>
            <!-- right end -->
        </div>
    </div>
</div>

</body>
</html>
